.product {
    display: flex;
    flex-direction: row;
    margin-right: 24px;
    border: 1px solid lightgray;
    box-shadow: 3px 3px 5px 3px darkgray;
    margin-bottom: 24px;
    cursor: default;
    font-family: "JetBrains Mono",monospace;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    
    &Detail {gap: 2px}

    &Scale,
    &Brand,
    &Type,
    &Tags {
    }
    &Descr {
      color: red;
    }
  
    &Images{
      width: 600px;
      height: 300px;
      object-fit:contain;
    }
  
    &buttonsContainer{
      display: flex;

    }
  
    &Button{
      padding: 8px;
      margin: 10px 0px;
      border:none;
      margin-left: 8px;

  
      &-view_more {
        background-color: goldenrod;
      }
  
      &-delete {
        background-color: coral;
      }
    }
  }