<div *ngIf="product" class="product">
  <div class="imageContainer">
    <img
      class="productImages"
      src="../../../../assets/image/{{ product.image }}"
    />
  </div>
  <div class="productDetail">
    <p class="productScale">Scale:{{ product.scale }}</p>
    <p class="productBrand">Brand:{{ product.brand }}</p>
    <p class="productDescr">Description:{{ product.description }}</p>
    <p class="productType">Type:{{ product.type }}</p>
    <p class="productTags">Tags:{{ product.tags }}</p>
    <p class="productPrice">Price:{{ product.price }}</p>
    <p class="productScore">Score:{{ product.score }}</p>
  </div>