<div *ngIf="apiProduct" class="product">
  <div class="imageContainer">
    <img
      class="productImages"
      src="../../../assets/image/{{ apiProduct.image }}"
    />
  </div>
  <div class="productDetail">
    <p class="productScale">{{ apiProduct.productId }}</p>
    <p class="productScale">{{ apiProduct.scale }}</p>
    <p class="productBrand">Brand:{{ apiProduct.brand }}</p>
    <p class="productDescr">{{ apiProduct.description }}</p>
    <p class="productDescr">{{ apiProduct.addDescription }}</p>
    <p class="productType">Type:{{ apiProduct.type }}</p>
    <p class="productTags">Tags:{{ apiProduct.tags }}</p>
    <p class="productPrice">Price:{{ apiProduct.price }}</p>
    <p class="productScore">Score:{{ apiProduct.score }}</p>
  </div>
</div>