<div *ngIf="apiProduct[0]" class="product">
  <div class="imageContainer">
    <img
      class="productImages"
      src="../../../assets/image/{{ apiProduct[0].image }}"
    />
  </div>
  <div class="productDetail">
    <p class="productScale">{{ apiProduct[0].scale }}</p>
    <p class="productBrand">Brand:{{ apiProduct[0].brand }}</p>
    <p class="productDescr">Description:{{ apiProduct[0].description }}</p>
    <p class="productType">Type:{{ apiProduct[0].type }}</p>
    <p class="productTags">Tags:{{ apiProduct[0].tags }}</p>
    <p class="productPrice">Price:{{ apiProduct[0].price }}</p>
    <p class="productScore">Score:{{ apiProduct[0].score }}</p>
  </div>
</div>
