.product {
  width: 400px;
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  border: 1px solid lightgray;
  box-shadow: 3px 3px 5px 3px darkgray;
  margin-bottom: 24px;
 font-family: "JetBrains Mono",monospace;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  &Scale,
  &Brand,
  &Type,
  &Tags,
  &Price {
    margin-bottom: 8px;
    padding: 8px;
  }
  &_first_line{
    display:inline-flex;
    font-size: large;
    font-weight: bold;
  }

  &Descr {
    padding: 8px;
  }

  &Images{
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  &buttonsContainer{
    display: flex;
  }

  &Button{
    padding: 8px;
    margin: 10px 0px;
    border:none;
    margin-left: 8px;
    cursor: pointer;


    &-view_more {
      background-color: goldenrod;
    }

    &-delete {
      background-color: coral;
    }
  }
}
   


 


